/* 기본 설정 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 60px; /* 헤더 높이에 맞게 조정 */
    font-family: 'Arial', 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f5f9;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

li::marker {
    content: '';
}

/* 중앙 너비 제한 */
.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
	position: fixed; /* 헤더를 고정 */
    background-color: #f4f5f9;
    color: #9f78c9;
    padding: 0 0 10px 0;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: left;
}

.header-top,
.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.header-bottom {
    height: 30px;
}

.header-bottom .dropdown-btn {
    background-color: #6f42c1;
    color: white;
    padding: 5px 15px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px;
}

.dropdown-btn:hover {
    background-color: #5a359a;
}

.logo-img {
    width: 150px;
}

.form-inline {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.form-inline select {
    margin-right: 10px;
    width: 60px;
    height: 40px;
    color: #9f78c9;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control {
    display: block;
    width: 100%;
    height: 48px;
    padding: 6px 16px;
    font-family: inherit;
    font-size: 15px;
    color: #666;
    border: 1px solid #ced4da;
    border-radius: 6px;
    outline: 0;
}

.right, .left {
	margin-bottom: 10px;
}

header .form-control {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control:focus {
    color: #333;
    border-color: #333;
}

.mr-sm-2 {
    flex-grow: 1;
    max-width: 80%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.wrapper {
    max-width: 480px;
    margin: 50px auto; /* 위, 아래 여백을 50px로 줄임 */
    padding: 0 20px;
}

.form-field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: center;
}

.form-field .label-form {
    font-weight: 600;
    color: #000;
    margin-bottom: 8px;
}

.noti-btn {
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #9f78c9;
    border: 1px solid #9f78c9;
    border-radius: 3px;
    margin-left: 10px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-links,
.right-links {
    display: flex;
    align-items: center;
}

.nav-item {
    white-space: nowrap;
    margin: 10px;
}

.nav-link {
    color: #9f78c9;
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: #e0c6ff;
    border: 1px solid #9f78c9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 200px;
}

#profile-dropdown > div {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* 항목 사이 간격 */
    flex-wrap: wrap; /* 항목이 공간을 넘어가면 자동 줄바꿈 */
}


.account-section {
    display: flex;
    align-items: center;
    gap: 5px; /* 아이콘과 텍스트 사이의 간격을 줄입니다 */
    padding: 3px 0; /* 각 항목의 위아래 여백을 줄여 컴팩트하게 합니다 */
}

.account-section p {
    margin: 5px 0;
    font-size: 16px;
}

.account-section a {
    font-size: 1px; /* 텍스트 크기를 줄여서 아이콘과 균형을 맞춥니다 */
    color: #333; /* 텍스트 색상을 더 눈에 띄게 */
}

.account-section i {
    font-size: 40px; /* 아이콘 크기를 줄입니다 */
    color: #666; /* 아이콘 색상을 조정하여 더 잘 어울리게 합니다 */
}

/* 상품 그리드 */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: left;
}

.product-item {
    border: 1px solid #ccc;
    padding: 0;
    background-color: #c2aeda;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    overflow: hidden;
}

.product-item:hover {
    transform: translateY(-5px);
}

.product-item .name {
    color: #403c47;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item .price,
.product-item .time,
.wish {
    color: #403c47;
    font-size: 16px;
    padding: 0 10px;
    margin-top: 10px;
}

.product-item .time {
    padding-bottom: 10px;
}

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* 드롭다운 메뉴 */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 200px;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
    border-radius: 5px;
}

.dropdown-content a {
    color: #403c47;
    padding: 10px;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content.show {
    display: block;
}

.noti-modal {
    position: absolute;
    padding: 10px;
    background-color: #f4f5f9;
    border: 1px solid #ccc;
    display: none;
    z-index: 1001;
    border-radius: 5px;
}

.noti-list .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 300px;
}

/* 메인 콘텐츠 */
main {
    max-width: 100%;
    min-height: 80vh;
    margin: 0px 20%;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #f4f5f9;
    border-radius: 10px;
}

.button-submit {
    display: block;
    width: 100%;
    height: 56px;
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 0;
    border: 0;
    border-radius: 6px;
    background-color: #333;
    outline: 0;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #000;
}

.error {
    display: block;
    color: #f00;
    border-color: #f00;
}

input:not([type=checkbox]) + label {
    display: block;
    margin-top: 6px;
}

.hidden {
    display: none;
}

/* 추가 스타일 */
.textarea {
    height: 400px;
}

.image-upload {
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image-upload input {
    display: none;
}

.char-count {
    font-size: 0.9rem;
    color: #999;
}

.btn-selected {
    background-color: #7590bd;
    color: white;
}

.image-preview {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.image-preview .remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.btn-option,
.btn-block {
    border: 1px solid #7590bd;
    background-color: #7590bd;
    color: white;
}

.map_wrap {
    position: relative;
    width: 100%;
    height: 350px;
}

.title {
    font-weight: bold;
    display: block;
}

.hAddr {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 2px;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    padding: 5px;
}

#centerAddr {
    display: block;
    margin-top: 2px;
    font-weight: normal;
}

.bAddr {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.container-detail {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

.carousel-item {
    text-align: center;
}

.article {
    width: 700px;
    margin: 0 auto;
}

#article-profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.blind {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.blind-text {
    color: white;
    font-size: 2em;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

.report-modal {
    margin: 10px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 20;
    text-align: center;
    display: none;
}

.list-group {
    margin-top: 20px;
}

.click {
    cursor: pointer;
}

.btn-close {
    position: absolute;
    right: 10px;
    top: 5px;
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.report-content-text {
    width: 100%;
    height: 160px;
    resize: none;
}

.report-content {
    text-align: right;
}

@media (max-width: 1200px) {
    main {
        margin: 0px 15%;
    }
}

@media (max-width: 992px) {
    main {
        margin: 2px 10%;
    }
}

@media (max-width: 768px) {
    main {
        margin: 5px 5%;
    }
}

@media (max-width: 576px) {
    main {
        margin: 10px 2%;
    }
}

.fa-megaphone {
    color: #9f78c9 !important;
}

.fa-search {
    color: #ccc;
}

.fa-bell {
    color: white;
}

.fa-heart {
    color: white;
}

#search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    outline: none;
    color: #ccc;
    margin-left: 10px;
    padding: 8px 10px;
}

#search-button i {
    margin-right: 5px;
}

#search-button:hover {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFFFFF;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.up-button,
.edit-button,
.hide-button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #403c47;
    cursor: pointer;
}

.page-number {
    text-align: center;
    margin-top: 10px;
}

.page-number span {
    padding: 5px 10px;
    background-color: #ff5252;
    color: white;
    border-radius: 3px;
}

footer {
    background-color: #f4f5f9;
    color: #9f78c9;
    width: 100%;
    margin: 0 5%;
    height: 200px;
    padding: 20px 0;
    text-align: left;
}

footer a {
    color: #e0c6ff;
    text-decoration: none;
}

footer a:hover {
    color: #FFFFFF;
}

.navbar-top {
    height: 100px;
}

#notice {
    margin-left: 10px;
}

.account-text {
    margin-top: 10px; /* 원하는 만큼의 여백을 설정 */
    display: block; /* 줄바꿈을 유지하려면 필요 */
}

#send-code-btn {
	margin-top: 10px;
	border: 1px solid #ccc;
    border-radius: 4px;
}

#send-code-btn:hover {
	background-color: #bfbfbf;
}

.button-submit {
	border: 1px solid #7590bd;
    background-color: #7590bd;
    color: white;
}
