<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <header th:fragment="header">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<!-- Brand -->
			<a class="navbar-brand" href="#">Logo</a>
		
			<!-- Links -->
			<ul class="navbar-nav">
			
			<select>
				<option>물건</option>
				<option>동네</option>
			</select>
			
			<input type="text">
		
			<button>검색</button>
			
		  		 <!-- Dropdown -->
		  		 <li class="nav-item dropdown">
			    	<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
		       			Dropdown link
		     		</a>
	     			<div class="dropdown-menu">
			    		<a class="dropdown-item" href="#">Link 1</a>
			      		<a class="dropdown-item" href="#">Link 2</a>
			      		<a class="dropdown-item" href="#">Link 3</a>
			    	</div>
				</li>
			</ul>
		  
		</nav>
    </header>
</body>
</html>
